body { font-family: Ubuntu }
code { font-family: Ubuntu Mono }
pre.sourceCode.ruby {
  font-size: 100%;
}
pre.sourceCode.RUBY {
  font-size: 150%;
  line-height: 1em;
}
h1 {
  text-align: center;
  font-size: 160%;
}
h2 { font-size: 120% }
h3 { font-size: 100% }

.huge {
  font-size: 400%;
  line-height: 3em;
  text-align: center;
}

.slide > p {
  margin-left: 2em;
  display: list-item;
}

.left-half {
  float: left;
  margin-bottom: 8%;
  margin-right: 8%;
  max-width: 40%;
}

table caption {
  font-variant: small-caps
}

tr.odd {
  background: #ddd
}

tr.even {
  background: #f2f2f2
}

code.sourceCode.bash:before {
  content: "$ ";
  color: #95abd0; /* match pre.sourceCode border-color */
}
